.main {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-align: center;
}


.link:hover {
    color: #da1e1e;
    transition: all 250ms ease-in-out;
}